//@import url('https://fonts.googleapis.com/css?family=Raleway');
//@font-face {
//  src: url("../fonts/Raleway-Regular.ttf");
//  font-family: 'Raleway', sans-serif;
//}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

div, a, p {
  margin: 0;
  padding: 0;
}
